In [2]:
import pandas as pd
import numpy as np

In [3]:
dados = pd.read_csv('base/Summer-Olympic-medals-1976-to-2008.csv')
#crinado uma lista de anos unicos onde removemos os NaN
    #indice = list(dados.Year.dropna().unique()) 

ano  = pd.Series(dados['Year'])
# Com este arquivo, construir um objeto de Serie cronológica com o índice igual ao ano dos jogos olímpicos
print (list(ano.dropna().unique()))

[1976.0, 1980.0, 1984.0, 1988.0, 1992.0, 1996.0, 2000.0, 2004.0, 2008.0]

In [4]:
separando_nome  = dados['Athlete']
separando_nome = separando_nome.str.split(',') 
print (separando_nome)

0                 [KÖHLER,  Christa]
1             [KOSENKOV,  Aleksandr]
2            [BOGGS,  Philip George]
3        [CAGNOTTO,  Giorgio Franco]
4          [WILSON,  Deborah Keplar]
                    ...
15428          [GUENOT,  Christophe]
15429         [KVIRKELIA,  Manuchar]
15430            [RAHIMOV,  Vitaliy]
15431              [GUENOT,  Steeve]
15432               [LOPEZ,  Mijain]
Name: Athlete, Length: 15433, dtype: object

In [7]:
total_medalhas = dados.groupby(['Country']).size().reset_index(name='Total')
total_medalhas = total_medalhas.sort_values('Total', ascending=False)
print(total_medalhas.head(1))

           Country  Total
117  United States   1992

In [10]:
tabela =  pd.DataFrame(dados)
tabela  =tabela.loc[(tabela['Gender'] == 'Men',('Year','Medal'))]
tabelas_medalhas = tabela.groupby(['Year']).size().reset_index(name='Total_medalhas')
tabelas_medalhas

     Year  Total_medalhas
0  1976.0             924
1  1980.0             958
2  1984.0             973
3  1988.0            1011
4  1992.0            1105
5  1996.0            1082
6  2000.0            1126
7  2004.0            1099
8  2008.0            1110